# vscode
.vscode/

# macOS
.DS_Store

# Hardhat
contracts/cache/
contracts/artifacts/

# Dependency directory
node_modules

## logs
*.log

## localhost contract address
frontend/src/contracts/index.js