# vscode
.vscode/

# macOS
.DS_Store

# Hardhat
contracts/cache/
contracts/artifacts/

# Dependency directory
node_modules

## logs
*.log

## image & metadata
store_images/images/
store_images/metadata/
